body {
  font-family: "IBM Plex Sans";
  font-size: 15px;
}

/* Utils */
.text-condensed {
  font-family: "IBM Plex Sans Condensed";
}

.text-mono {
  font-family: "IBM Plex Mono";
  font-size: 90%;
}

.text-serif {
  font-family: "IBM Plex Serif";
}

/* Reach UI */

[data-reach-tooltip] {
  max-width: 200px;
  white-space: normal;
  color: white;
  background-color: #222;
  font-family: "IBM Plex Sans Condensed";
  font-weight: bold;
  border-radius: 4px;
  padding: 8px 12px;
  box-shadow: 0px 0px -2px 5px rgba(0, 0, 0, 0.1);
}

/* Forecast */

.forecast-card {
  position: relative;
}

.forecast-image {
  opacity: 1;
  transition: opacity 0.2s;
}

.forecast-card:hover .forecast-image,
.forecast-card:hover .forecast-image {
  opacity: 0.3;
}

.forecast-detailedForecast {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* max-width: 200px; */
  font-size: 0.85rem;
  white-space: normal;
  color: white;
  background-color: #222;
  font-family: "IBM Plex Sans Condensed";
  font-weight: bold;
  border-radius: 4px;
  padding: 8px 12px;
  box-shadow: 0px 0px -2px 5px rgba(0, 0, 0, 0.1);
}

.forecast-card:hover .forecast-detailedForecast,
.forecast-card:active .forecast-detailedForecast {
  display: block;
}

.flush-bottom {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
